{% extends 'base.html.twig' %}

{% block title %}liste des formations{% endblock %}

{% block body %}
{% if formations %}
    
 {% for formation in formations %}
{{ formation}}<br>
    
 {% endfor %}
 {% else %}
 <p>Pas de formations à l'instant</p>
{% endif %}
{% endblock %}
