{% extends 'base.html.twig' %}

{% block title %}Liste de stagiaires
{% endblock %}
{% block body %}
{% if stagiaires %}
	
{% for stagiaire in stagiaires %}
{{stagiaire}}<br>
	
{% endfor %}
{% else %}
<p>pas de stagiaire encore enregistré</p>
{% endif %}

 
	 
{% endblock %}
 
