{% extends 'base.html.twig' %}

{% block title %}liste des modules
{% endblock %}

{% block body %}
	{% if modules %}

		{% for module in modules %}
			{{ module}}<br>

		{% endfor %}
	{% else %}
		<p>Pas de modules à l'instant</p>
	{% endif %}
{% endblock %}
