{% extends 'base.html.twig' %}

{% block title %}liste des categories{% endblock %}

{% block body %}
<h1>Liste des categories</h1>
{% if categories %}
    
 {% for categorie in categories %}
{{ categorie}}<br>
    
 {% endfor %}
 {% else %}
 <p>Pas de categories à l'instant</p>
{% endif %}
{% endblock %}
